.Eightball-container {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.Eightball-green {
    background-color: green;
}

.Eightball-goldenrod {
    background-color: goldenrod;
}

.Eightball-red {
    background-color: red;
}

.Eightball-black {
    background-color: black;
}

.Eightball-button {
    background-color: indianred;
    font-size: 1.3rem;
}